// Author Card Component

// NOTES:

// There are a lot of somewhat isolated pixel values here.
// Ideally, these would be part of a sizing units scale determined with
// the designers and included in the variables file. With a sizing scale, designers
// can then refer to those units rather than arbitrarily selecting sizes at will
// in their design tool. I did that with one value, $nudge, in this test.

.a-card {
	padding: 28px;

	@media ( $start-tablet ) {
		display: grid;
		grid-template-columns: minmax(300px, 500px) 180px;
		grid-template-rows: auto auto;

		grid-column-gap: 93px;
		place-content: center;
	}

	@media ( $start-desktop ) {
		grid-column-gap: 52px;
		grid-template-columns: minmax(300px, 740px) 180px;
	}
}

.a-card__content, .a-card__header {
	grid-column: 1 / 1;
}

.a-card__header {
	@media ( $mobile-only ) {
		text-align: center;
		margin-bottom: 20px;
	}
}

.a-card__content {

	@media ( $start-tablet ) {
		order: 0;
	}
}

.a-card__image-wrap {
	position: relative;
	overflow: hidden;

	@media ( $mobile-only ) {
		margin: auto;
		display: flex;
		justify-content: center;
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}

	@media ( $start-tablet ) {
		width: 180px;
		height: 160px;
		grid-column: 2 / 2;
		order: 1;
	}
}

.a-card__image {
	height: 100%;
	object-fit: cover;
}

.a-card__title {
	font-size: 30px;
	font-weight: $bold;
	@media ( $start-tablet) {
		display: inline-block;
		margin-right: $nudge;
	}
}

.a-card__follow-btn {
	@include unstyle-link;
	@include social-button( $c-grey-medium );
	> .text {
		font-size: 12px;
		padding-left: $nudge;
		padding-right: 10px;
	}
}

.a-card__stories-btn {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	> .text {
		color: $c-link;
		font-size: 14px;
		padding-right: $nudge;
	}

	> .icon {
		fill: $c-link;
	}
}

