// Mixins

@mixin clearfix {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
	}

	@return map-get($z-layers, $layer);
}

// Style utilities

@mixin social-button( $bkgd ) {
	padding: 4px;
	border-radius: 20px;
	background-color: $bkgd;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;

	&:hover {
		background-color: darken( $bkgd, 10% );
	}
}
